<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="__INDEX__/resources/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/assets/css/main.css">
	<title>详情</title>
</head>
<body>
	<div class="pro-msg-detail container" id="pro-msg-detail">
		<div class="row">
			<h3 class="col-xs-10">{$mobiletype.m_mobile}</h3>
		</div>
		<ul class="msg-list container row container">
			<li class="row">
				<div class="title col-xs-4">
					提交人
				</div>
				<div class="con text-right col-xs-8">
					{$pname}
				</div>
			</li>
			<li class="row">
				<div class="title col-xs-4">
					提交时间
				</div>
				<div class="con text-right col-xs-8">
					{$adjust.time|date="m月d日",###}
				</div>
			</li>
			<li class="row">
				<div class="title col-xs-4">
					imei
				</div>
				<div class="con text-right col-xs-8">
					{$adjust.imei}
				</div>
			</li>
			<li class="row">
				<div class="title col-xs-4">
					状态
				</div>
				<div class="con col-xs-8 text-right">
				{if condition="($adjust['state'] eq 1)"} 
					<span class="glyphicon glyphicon-time msg-wait"></span>待审核
						{elseif condition="($adjust['state'] eq 2)"} 
					<span class="glyphicon glyphicon-ok msg-success"></span>成功	
						{elseif condition="($adjust['state'] eq 3)"}
					<span class="glyphicon glyphicon-remove msg-failed"></span>失败		
						{/if}	
					
				</div>
			</li>
			<li class="row">
				<div class="title col-xs-12">
					照片
				</div>
				<div class="con msg-img col-xs-8 col-xs-push-2">
					<img src="{$adjust.imgurl}" alt="">
				</div>
			</li>
			<li class="row">
				<div class="title col-xs-12">
					备注
				</div>
				<div class="con msg-art col-xs-10 col-xs-push-1 text-justify">
					{$adjust.desc}
				</div>
			</li>
		</ul>
	</div>
</body>
</html>