<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录模板 </title>
	<link rel="stylesheet" type="text/css" href="__ADMIN__/login/css/zui.css" media="all">
	<link rel="stylesheet" type="text/css" href="__ADMIN__/login/css/login.css" media="all">
    <link href="__ADMIN__/login/css/animate.min.css" rel="stylesheet">
	<link href="__ADMIN__/login/css/font-awesome.min.css" rel="stylesheet">
	<style> body { background-image: url(__ADMIN__/login/images/4.jpg);}</style>
</head>

<body>
<div id="main-box"></div>
<div id="main-content">
<div class="login-body  animated fadeInLeft">
    <div class="login-main pr">
        <form action="" method="post" class="login-form">
        <h3> 势象空间艺术有限公司 </h3>
        <h5 style="padding-bottom: 10px"> SMC </h5>
        		    <!-- 账号登陆 -->
        <div id="MobileBox" class="item-box"  >
            <div class="input-group user-name"> <span class="input-group-addon"><i class="icon-user"></i></span>
            <input  class="form-control" placeholder="用户名" name="name" type="text">
         </div>
         <div class="input-group password"> <span class="input-group-addon"><i class="icon-lock"></i></span>
            <input class="form-control" placeholder="密码" name="password" type="password">
         </div>

         <div class="input-group code"><span class="input-group-addon"><i class="icon-file"></i></span>
         	 <input class="form-control" style="width:100px;float:left;" name="code" type="text" placeholder="验证码">
             <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random();" width="120" height="40" style="float:left; cursor:pointer;margin-left:20px;" alt="captcha" />
         </div>

		<div class="use-qrcode-a"><a class="use-ding" href="javascript:void(0)"><img src="__ADMIN__/login/images/ding.png" width="17" height="17" style="margin-top:-2px"> 忘记密码</a> </div>

          <div class="login_btn_panel">
            <button class=" btn btn-primary btn-block btn-lg" value="Login" type="submit">登录</button>
            <div class="check-tips"></div>
          </div>
      </form>
     </div>
  </div>
</div>
</body>
</html>
